extends layout

block content

  h1 Customer
  p
    form(method="post")
        .form-group
          label First Name
          input(type="text" name="first_name" value=val.first_name class="form-control")
        .form-group
          label Last Name
          input(type="text" name="last_name" value=val.last_name class="form-control")
        .form-group
          label Email Address
          input(type="text" name="email" value=val.email class="form-control")
        .form-group
          label Gender
          input(type="text" name="gender"  value=val.gender class="form-control")
        .form-group
          label IP Address
          input(type="text" name="ip_address" value=val.ip_address class="form-control")
        .form-group
          if edit
            button(
              type="submit"
              name="button"
              value="save"
            ).btn.btn-primary Save
            | &nbsp;
            button(
              type="submit"
              name="button" value="delete"
            ).btn.btn-danger Delete
          else
            button(
              type="submit"
              name="button"
              value="save"
            ).btn.btn-primary Create
